
<div class="vogue-product-gallery">
  <!-- Main Image Display -->
  <div class="vogue-main-image">
    <img
      src="{{ product.featured_image | img_url: '1024x1024' }}"
      alt="{{ product.title }}"
      id="vogue-main-image"
    />
  </div>

  <!-- Thumbnail Slider -->
  <div class="vogue-thumbnail-slider">
    {% for media in product.media %}
      {% if media.media_type == 'image' %}
        <div class="vogue-thumbnail" data-image="{{ media.src | img_url: '1024x1024' }}">
          <img
            src="{{ media.preview_image.src | img_url: '200x200' }}"
            alt="{{ media.alt }}"
            class="vogue-thumbnail-image"
          />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

